pre  code {
  background-color: #f4f4f4;
  border: 1px solid #999;
  border-radius: 5px;
  display: block;
  padding: 10px 5px;
  margin-bottom: -25px;
}
pre code:hover {
  background-color: #eeeeee;
}
.code li {
  font-size: 87.5%;
  color: #e83e8c;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.code li .example{
  color: #808080;
  display: block;
  font-weight: light;
}
.code li .example:hover{
  color: #696969;
  font-weight: bolder;
}
